{# read and display all flash messages #}
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="flash-{{ label }} alert_dismisible fade show" role= "alert>
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
               
            </button>
        </div>
    {% endfor %}
{% endfor %}