{% extends 'base.html.twig' %}

{% block title %}Hello PeliculaController!
{% endblock %}

{% block body %}

	{% include 'common/_messages.html.twig' %}

	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">

		<form action="{{path('pelicula_form')}}" method="POST">

			<div class="form_pelicula">
				<label for="titulo">Título</label>
				<input type="text" id="titulo" name="titulo">
			</div>

			<div class="form_pelicula">
				<label for="duracion">Duración</label>
				<input type="number" id="duracion" name="duracion" step="0.01">
			</div>

			<div class="form_pelicula">
				<label for="fecha">Fecha de Estreno</label>
				<input type="date" id="fecha" name="fecha">
			</div>

			<button class="btn btn-primary" type="submit">Guardar</button>
		</form>
        <br>
		<form action="{{path('app_listado')}}">
			<button class="btn btn-primary" type="submit">Ir al Listado</button>
		</form>
	</div>
{% endblock %}
